#summary{
    position: absolute;
    right: .5em;
    top: 3.6em;
}
div.armeeHeader{
    display: table;
}
div.armeeName{
    display: table-cell;
    font-weight: bold;
    font-size: large;
    margin-top: 0.3em;
    vertical-align: middle;
}
div.armeeType{
    display: table-cell;
    font-size: large;
    margin-top: 0.3em;
    vertical-align: middle;
}
div.armeeHeader a{
    display: table-cell;
    vertical-align: middle;
}
div.groups, .unitGroups{
    display: flex;
    flex-wrap: wrap;
}
div.group{
    width: 22.3em;
    margin-top: 0.3em;
}
div.group .ui-block-a{
    width: 65%;
}
div.group .ui-block-b{
    width: 25%;
}
div.group .ui-grid-b .ui-block-c{
    width: 10%;
}
.ui-content a.ui-icon-edit, .ui-content a.ui-icon-plus{
    margin: 0;
    background: transparent;
    border: transparent;
    box-shadow: transparent 0 0 0;
}
div.groupName{
    font-weight: bold;
    font-size: large;
}
div.selection{
    margin-top: 0.3em;
}
div.selectionName{
    font-weight: bold;
    font-style: italic;
}
div.groupPoints, div.selectionPoints{
    text-align: right;
}
div.armeeSummary{
    text-align: right;
}
div.popupHeader{
    text-align: center;
}
div.unitPopup{
    overflow-y: scroll;
    max-height: 95vh;
    max-width: 99vw;
}
div.popupTable{
    display: table;
    margin: .2em;
    width: 21em;
}
.popupTableRow{
    display: table-row;
}
.popupTableRow div{
    display: table-cell;
    text-align: left;
    font-weight: normal;
}
.popupTableRow div:last-child{
   text-align: right;
   width: 10%;
}
